<div class="collection-template collection-template-default">
  <div class="container">
  	{% render 'breadcrumb' %}
    
    <div class="halo-collection-content">
      <div class="row">
        {% section 'sidebar-filter' %}
        {% section 'collection-template-default' %}
      </div>
      
      {% if settings.style_product_grid == 'style_product_grid_2' %}
        {% section 'recently-viewed-products-skin-1170' %}
      {% else %}
        {% section 'recently-viewed-products' %}
      {% endif %}
    </div>   
  </div>
</div>